.Heading-vidya {
  font-family: 'Montserrat', sans-serif; /* Use the chosen font */
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0rem;
  margin-top: 3rem;
  color: #333; /* Adjust color as needed */
  text-align: center; /* Center the text if desired */
  text-transform: uppercase; /* Optional: make the text uppercase */
  /* #a435f0 */
  user-select: none;
}

.Heading-vidya span{
  color:#a435f0;
}

.student-button:hover, .admin-button:hover{
  background-color:#a435f0 !important;

}



img.logo-image{
  user-select: none !important;
  height: 3rem;
  border-radius: 50%;
  margin-bottom:1rem;
}

.homePage-bg{
  background-image: url(https://frontends.udemycdn.com/components/auth/desktop-illustration-step-2-x2.webp);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: left bottom;
}

body{
  user-select: none;
}
